/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.film-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 6px 8px rgba(0, 0, 0, 0.1);
  margin: 5px;
  padding: 10px;
  width: 100%;
}
.film-card-column {
  display: flex;
  flex-wrap: wrap;
}

.film-card-column .film-card {
  flex-basis: calc(25% - 40px); /* 25% moins la marge */
  margin-right: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.film-card img {
  max-width: 100%;
  max-height: 50%;
  height: auto;
}

.film-card h2 {
  font-size: 20px;
  margin: 10px 0;
  font-family: 'Times New Roman', Times, serif;
}

.film-card p {
  font-size: 15px;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Dans votre fichier CSS (App.css) */
.retour-accueil {
  display: inline-block;
  padding: 10px 20px;
  background-color: #012536; /* Couleur de fond bleue */
  color: #fff; /* Couleur du texte blanc */
  text-decoration: none; /* Supprime le soulignement du lien */
  border-radius: 5px; /* Coins arrondis */
  font-weight: bold; /* Texte en gras */
  margin-top: 20px; /* Marge supérieure */
}

.retour-accueil:hover {
  background-color: #429bfa; /* Couleur de fond au survol */
}
